name: Python CI

on:
  push:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Kodu al
        uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Paketleri kur
        run: pip install -r requirements.txt

      - name: Testleri çalıştır
        run: pytest
